.social-container {
	margin: 20px 0;
}

.social-container a {
  background-color:rgba(255, 255, 255, 0.68);
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.social-footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

.social-footer p {
    margin: 10px 0;
}

.social-footer i {
    color: red;
}

.social-footer a {
    color: #3c97bf;
    text-decoration: none;
}